$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$vertical-pad-base: 14px;

$button-base-vertical-padding: 12px;
$button-base-horizontal-padding: 16px;

////// Colors
$primary: #34495e;
$secondary: #0FA0CE;

$light-red: #e74c3c;
$dark-red: #c0392b;

$darker-gray: #444;
$dark-gray: lighten(#444, 10%);
$gray: lighten(#444, 20%);
$light-gray: lighten(#444, 30%);
$lighter-gray: lighten(#444, 40%);

$body-font: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-line-height: 1.6;
$body-font-size: 1.5em;
$body-color: $gray;
$grid_breakpoint_space: 40;