/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html { 
  font-size: 62.5%; } 
body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-weight: 400;
  font-family: $body-font;
  color: $darker-gray;
}
